@import '../../../_colors.scss';

.footer-clear {
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-top: 100px;
}

#footer-content-clear{
	height: 45px;
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	color: $Green-hex;
}

#developers{
	text-align: center;
}

#developers h3{
	font-size: 24px;
	margin-bottom: 30px;
}

#devs{
	display: flex;
	flex-direction: column;
}

#nav-links{
	width: 280px;
	display: flex;
	justify-content: space-between;
}

#nav-links h3{
	font-size: 20px;
	text-decoration: underline;
}

#nav-links a{
	margin-top: 10px;
	margin-bottom: 10px;
	color: $Tan-hex;
	text-decoration: none;
}

#dev-list{
	display: flex;
	text-align: center;
}

#dev-links{
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	color:$Tan-hex;
}

#dev-links h3{
	font-size: 20px;
	text-decoration: underline;
}

#dev-links a{
	margin-top: 5px;
	margin-bottom: 5px;
	color: $Tan-hex;
	text-decoration: none;
}

#dev-links a:hover{
	color: $Dark-Green-hex;
}

.dev-icons {
	width: 140px;
	display: flex;
	justify-content: space-around;
}