@import '../../_colors.scss';

#delete-modal{
  background-color: $Deep-Blue-hex;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border-radius: 5px;
  align-items: center;
  padding: 15px;
}

#delete-button-confirm{
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: $Green-hex;
  color: $Deep-Blue-hex;
  width: 80%;
  margin-bottom: 15px;
}

 #delete-button-cancel{
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: $Green-hex;
  color: $Deep-Blue-hex;
  width: 80%;
 }

#delete-button-cancel:hover{
  background-color: $Deep-Blue-hex;
  border: 1px solid $Green-hex;
  color: $Green-hex;
}

#delete-button-confirm:hover{
  background-color: $Deep-Blue-hex;
  border: 1px solid $Green-hex;
  color: $Green-hex;
}

.delete-modal-text{
  width: 100%;
  color: $Tan-hex;
  font-size: 34px;
  text-align: left;
  margin: 10px;
  text-align: center;
}

