@import '../../_colors.scss';

.comment-index-container {
  margin-top: 15px;
  margin-right: auto;
  background-color: white;
  border: 1px solid #053868;
  padding: 59px;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 813px;
  margin-left: 50px;
  font-size: 24px;
  color: #053868;
}

.comment-index-username-dropdown{
  display: flex;
  justify-content: space-between;
  line-height: normal;
}

.comment-index-option{
  margin-right: 30px;
}

.fas.fa-ellipsis-v{
  color: #053868;
}

.comment-index-item-username{
  font-size: 25px;
}

.comment-index-item-text{
  font-size: 16px;
  padding-top: 10px;
  margin: 10px 0px;
  height: 20px;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 10px 0px;
  resize: none;
  outline: none;
}

.comment-index-item-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

#comment-form-real{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#comment-form-container{
  display: flex;
  flex-direction: column;
  width: 98%;
  padding: 15px 10px;
  justify-content: space-between;
  margin-top: 16px;
}

.comment-form-textarea{
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #AAAAAA;
  background-color: transparent;
  margin: 10px 0px;
  resize: none;
  outline: none;
  transition: border 500ms;
}

.comment-form-textarea:focus{
  border-bottom: 2px solid #000000f1;
}

.comment-form{
  flex-direction: column;
  background-color: white;
  display: flex;
  align-self: center;
  width: 90%;
}

.comment-form-username{
  padding-left: 35px;
  line-height: normal;
}


.comment-form-buttons{
  display: flex;
  align-self: self-end;
  // justify-content: flex-end;
  // visibility: hidden;
}

// .comment-form-buttons.toggle-buttons{
//   visibility: visible;
// }

.comment-form-input, .comment-form-button {
  // padding: 10px 15px;
  font-size: 16px;
  margin: 0px;
  height: 25px;
  width: 80px;
  margin: none;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

// .comment-form-input {
//   // background-color: #3ea6ff;
// }

.comment-index-dropdown{
  position: relative;
  display: inline-block;
}

.comment-form-buttons .comment-form-button{
  color: #AAAAAA;
  background-color: #181818;
}

.comment-dropdown-content {
  display: none;
  position: absolute;
  color: #AAAAAA;
  // background-color: #181818;
  z-index: 1;
}


.active{
  display: block;
}

#edit-comment-container.active-flex {
  display: flex;
}

.comment-dropdown-content p{
  padding: 6px;
  margin: 5px 0px;
  cursor: pointer;
  font-size: 14px;
}

.comment-dropdown-content p:hover{
  background-color: rgba(170, 170, 170,0.3);
}


// EDIT COMMENT FORM CSS

#edit-comment-container{
  display: none;
  width: 100%;
  padding: 4px 0px;
  justify-content: space-between;
  /* margin-top: 10px; */
  margin-left: -2px;
  background-color: #FFFFFF;
}

.edit-comment-textarea:focus{
  border-bottom: 2px solid white;
}

.edit-comment-textarea{
  padding-top: 5px;
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #AAAAAA;
  background-color: transparent;
  margin: 10px 0px;
  resize: none;
  outline: none;
  transition: border 500ms;
  font-size: 16px;
}

.edit-comment{
  flex-direction: column;
  display: flex;
  width: 90%;
  font-size: 15px;
  background-color: #FFFFFF;
}


.edit-comment-buttons{
  display: flex;
  justify-content: flex-end;
  /* visibility: hidden; */
}
/* 
.edit-form-buttons.toggle-buttons{
  visibility: visible;
} */

.edit-comment-input, .edit-comment-button {
  font-size: 16px;
  margin: 0px;
  height: 25px;
  width: 80px;
  margin: none;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.edit-comment-input {
  background-color: #3ea6ff;
}

.edit-comment-buttons .edit-comment-button{
  color: #AAAAAA;
  background-color: #181818;
}

.comment-edit-hide {
  display: none;
}

.hide {
  display: none;
}