@import '../../_colors.scss';

.home-page-container{
	display: flex;
	justify-content: space-evenly;
	padding-top: 100px;
	padding-bottom: 100px;

}

.calendar{
	margin-left: 50px;
	// width: 75%;
}

.events-index{
	width: 25%;
	height: 720px;
	min-width: 200px;
	overflow: auto;
	background-color: $Deep-Blue-hex;
	border: 1px solid $Deep-Blue-hex;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px rgba(0,0,0,.25);
}

.events-index h1{
	font-size: 30px;
	color: $Tan-hex;
	margin-bottom: 10px;
}

.events-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	color: $Tan-hex;
	margin-bottom: 15px;
}

.events-header:hover{
	cursor: pointer;
}

.event-selected {
	transform: scale(1.15);
	font-weight: 600;
}
