@import '../../_colors.scss';

.home-page-container{
	display: flex;
	justify-content: space-evenly;
	padding-top: 100px;
	padding-bottom: 200px;
}

.calendar{
	margin-left: 50px;
	width: 75%;
}

.events-index{
	width: 25%;
	max-height: 1000px;
	overflow: auto;
	background-color: $Deep-Blue-hex;
	border: 1px solid $Deep-Blue-hex;
	padding: 20px;
	border-radius: 5px;
	margin-right: 50px;
	box-shadow: 3px 3px rgba(0,0,0,.25);
}

.events-index h1{
	font-size: 30px;
	color: $Tan-hex;
	margin-bottom: 10px;
}

