@import '../../_colors.scss';

.attendence-list{
    width: aut0;
    background-color: white;
    border: 1px solid $Deep-Blue-hex;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0,0,0,.25);
    text-align: center;
}

.attendence-list h3{
    margin-bottom: 10px;
}

.attendee-item{
    background-color: $Dark-Green-hex;
    display: flex;
    justify-content: space-between;
    color: $Tan-hex;
    padding: 10px;
    transition: transform .3s;
    border-radius: 3px;
    margin-bottom: 10px;
}

.attendee-item:hover{
    transform: scale(1.1);
}

.attendee-item p{
    text-align: center;
}

.attendee-logo {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.attendee-logo {
    fill: red;
}

#user-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}