@import '../../_colors.scss';

.event-form {
	width: 125%
}

#event{
	min-width: 700px;
	width: 900px;
	margin: auto;
  background-color: white;
  border: 1px solid $Deep-Blue-hex;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(0,0,0,.25);
}

.events-index h1{
	font-size: 30px;
	color: $Deep-Blue-hex;
	margin-bottom: 10px;
}

.event-show-container {
	display: flex;
	justify-content: space-between;
	width: 900px;
  // margin-left: 50px;
	font-size: 24px;
	color: $Deep-Blue-hex;
}

.event-show-location a{
  text-decoration: none;
  color: $Dark-Green-hex;
}

.event-show-location a:hover{
  color: $Green-hex;
}

.collapsible{
	cursor: pointer;
	color: $Dark-Green-hex;
}

#details{
	width: 75%;
	margin: 10px;
	line-height: 1.15;
}

#details h3{
	font-size: 50px;
	font-weight: 300;
	color: $Deep-Blue-hex;
	margin-bottom: 15px;
	line-height: 1.15;
}

#details a{
	margin-left: 5px;
}


.event-gen-info p{
	margin-top: 10px;
	margin-bottom: 10px;
}

#attendence{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

#counter{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

#attendence{
	display: flex;
	margin: 10px;
	width: 25%;
}

#limit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#limit p{
	margin-bottom: 5px;
}

#goal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#goal p{
	font-size: 35px;
	line-height: 50px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	align-items: center;
	margin-bottom: 5px;
}

button{
  font-size: 14px;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $Deep-Blue-hex;
  border: none;
  color: $Tan-hex;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  font-size: 22px;
}

button:hover{
  background-color: $Green-hex;
  color: $Deep-Blue-hex;
  cursor: pointer;
}

button:hover:active{
  background-color: $Dark-Green-hex;
}

#details-container{
	max-height: 800px;
	overflow: auto;
}

#details-container hr{
	margin-top: 10px;
	width: 50%;
	// margin-left: 25%;
}

.content {
	overflow-x: auto;
	white-space: break-spaces;
	word-wrap: break-word; 
	padding: 20px;
	border-radius: 5px;
  display: none;
  overflow: hidden;
  
}
.user-content {
	overflow-x: auto;
	white-space: break-spaces;
	word-wrap: break-word; 
	padding: 20px;
	border-radius: 5px;
  display: none;
  overflow: hidden; 
}

.comment-index-container{
	margin-top: 20px;
	overflow-x: auto;
	white-space: break-spaces;
	word-wrap: break-word; 
	padding: 20px;
	border-radius: 5px;
  display: none;
  overflow: hidden; 
}

.collapsible-user{
	color: $Dark-Green-hex;
	cursor: pointer;
}

.collapsible-description{
	color: $Dark-Green-hex;
	cursor: pointer;
}

.collapsible-comments{
	color: $Dark-Green-hex;
	cursor: pointer;
}


.collapsible-user:hover{
	color: $Green-hex;
	cursor: pointer;
}

.collapsible-description:hover{
	color: $Green-hex;
	cursor: pointer;
}

.collapsible-comments:hover{
	color: $Green-hex;
	cursor: pointer;
}

#reveal-buttons{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

.details-menu hr{
	margin: 0px;
}

.details-menu{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

// -----DROPDOWN CSS------

.dropbtn {
  // background-color: $Deep-Blue-hex;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
	border-radius: 5px;
}

.dropbtn > i {
	font-size: 20px;
	color: $Deep-Blue-hex;
}

.dropbtn:hover, .dropbtn:focus {
  // background-color: $Dark-Green-hex;
	cursor: pointer;
}

#myDropdown div {
	font-size: 21px;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

#myDropdown div:hover{
	background-color: $Green-hex;
}

#myDropdown > div:first-child {
	// border-top-left-radius: 10px;
}

#myDropdown div > i {
	right: 20px;
}

.dropdown {
  position: absolute;
  display: inline-block;
	margin-left: 869px;
	margin-top: -11px;
}

.dropdown-content {
  position: absolute;
  background-color: $Tan-hex;
  width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	color: $Deep-Blue-hex;
	right: 0px;
}

.dropdown-content div:hover {
	cursor: pointer;
	background-color: $Green-hex;
}

.hidden {
	display: none;
}

.clicked {
	background-color: $Green-hex;;
}

.clicked i {
	color: $Deep-Blue-hex; 
}

.attend-leave-button {
	background-color:  #cf1515;
}

.attend-leave-button:hover {
	background-color: #e11717;
	color: white;
	cursor: pointer;
}