@import '../../_colors.scss';

#event{
	width: 900px;
	margin-right: auto;
  background-color: white;
  border: 1px solid $Deep-Blue-hex;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(0,0,0,.25);
}

.events-index{
	width: 25%;
	height: 100%;
	background-color: $Tan-hex;
	margin-right: 50px;
}

.events-index h1{
	font-size: 30px;
	color: $Deep-Blue-hex;
	margin-bottom: 10px;
}

.event-show-container {
	display: flex;
	justify-content: space-between;
	width: 75%;
  margin-left: 50px;
	font-size: 24px;
	color: $Deep-Blue-hex;
}


.event-show-location a{
  text-decoration: none;
}

.event-show-location a:hover{
  color: $Dark-Green-hex;
}

#details{
	width: 75%;
	margin: 10px;
}

#details h3{
	font-size: 50px;
	font-weight: 300;
	color: $Deep-Blue-hex;
	margin-bottom: 5px;
}

#details a{
	margin-left: 5px;
}

.event-gen-info p{
	margin-top: 5px;
	margin-bottom: 5px;
}

#attendence{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

#counter{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

#attendence{
	display: flex;
	margin: 10px;
	width: 25%;
	
}

#limit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#limit p{
	margin-bottom: 5px;
}

#goal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#goal p{
	font-size: 35px;
	line-height: 50px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	align-items: center;
	margin-bottom: 5px;
}

button{
  font-size: 14px;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $Deep-Blue-hex;
  color: $Tan-hex;
  border: 1px solid $Green-hex;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  font-size: 22px;
}

button:hover{
  background-color: $Green-hex;
  color: $Deep-Blue-hex;
  cursor: pointer;
}

button:hover:active{
  background-color: $Dark-Green-hex;
}

.content {
	overflow-x: auto;
	white-space: break-spaces;
	word-wrap: break-word; 
	padding: 20px;
	border-radius: 5px;
  display: none;
  overflow: hidden;
  background-color: #F0F0F1;
}

.test-button {
	width: 100px;
	height: 30px;
}
