@import '../../_colors.scss';

.home-page-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

.events-index{
	width: 25%;
	height: 100%;
	background-color: $Tan-hex;
	margin-right: 50px;
}

.events-index h1{
	font-size: 30px;
	color: $Deep-Blue-hex;
	margin-bottom: 10px;
}

.event-show-container {
	width: 50%;
	font-size: 30px;
	color: $Deep-Blue-hex;
}

.event-desc {
	margin-top: 93px;
	font-size: 30px
}

