@import '../../_colors.scss';

.event-item{
	background-color: $Light-Green-hex;
	border: 1px solid $Deep-Blue-hex;
	display: flex;
	justify-content: space-between;
	color: $Deep-Blue-hex;
	padding: 10px;
	transition: transform .3s;
	border-radius: 3px;
	margin-bottom: 10px;
}

.event-item:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.event-item h3{
	font-weight: 500;
	margin: 5px 5px 5px 0px;
	font-size: 20px;
}

.event-item p{
	margin-bottom: 5px;
}

#limit h4{
	margin-bottom: 5px;
}

#limit p{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: $Deep-Blue-hex;
	color: $Tan-hex;
	text-align: center;
	font-size: 35px;
	line-height: 50px;
	margin-right: 10px;
}