@import '../../_colors.scss';

.splash-page-background {
  background: #5CDB95 url('https://i.imgur.com/8kHp0WB.jpg') no-repeat center;
  background-size: cover;
  height: 1700px;
  object-fit: overflow;
  // overflow: hidden;
}

.splash-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-top: 100px;
  color: #edf5e1;
  margin-bottom: 20px;
  overflow: hidden;
}

.splash-page-intro-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 50px;
}

.splash-page-title {
  font-size: 120px;
  margin-top: 30px;
  text-shadow: 2px 2px #2f2f2f;
  color: $Green-hex;
}

.splash-logo-large{
  width: auto;
  height: auto;
  object-fit: contain;
}

.splash-page-descript {
  font-size: 25px;
  margin-top: 15px;
  width: 500px;
  line-height: 1.2;
  color: $Green-hex;
  text-shadow: 2px 1px #2f2f2f;
}

.three-options{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 20%;
}

#splash-seperator{
  height: 400px;
  width: 0px;
  border: 1px solid $Green-hex;
}

#logo-groups img{
  height: 150px;
  width: 150px;
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  filter: drop-shadow;
}

#about-groups{
  margin-top: 40px;
  text-align: center;
}

#logo-groups{
  text-align: center;
}

#about-groups hr{
  width: 0px;
  color: $Green-hex;
}

#about-groups img{
  height: 200px;
  width: 300px;
}

#logo-groups h3{
  margin-top: 20px;
  font-size: 28px;
  text-shadow: 2px 2px #2f2f2f;
  color: $Green-hex;
}

#about-groups h3{
  margin-top: 20px;
  font-size: 28px;
  text-shadow: 2px 2px #2f2f2f;
  color: $Green-hex;
}

#logo-groups p{
  font-size: 20px;
  width: 300px;
  line-height: 1.2;
  text-shadow: 2px 2px #2f2f2f;
  color: $Green-hex;
  margin: 0 auto;
  margin-top: 20px;
}

#about-groups p{
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  width: 300px;
  line-height: 1.2;
  text-shadow: 2px 2px #2f2f2f;
  color: $Green-hex;
}