.splash-page-background {
  background: #5CDB95 url('https://i.imgur.com/eWSXrD7.png') no-repeat center;
  background-size: cover;
  height: 100vh;
}

.splash-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: auto;
  padding-top: 226px;
  padding-right: 1500px;
  color: #edf5e1;
}

.splash-page-intro-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  margin: 0 auto;
}

.splash-page-title {
  font-size: 120px;
}

.splash-page-descript {
  font-size: 20px;
  margin-top: 15px;
}

