@import '../../_colors.scss';

.top-logo{
	height: 200px;
	width: 200px;
}

.developers{
	display: flex;
	justify-content: space-evenly;
}

.developer-page-background {
  background: #5CDB95 url('https://i.imgur.com/8kHp0WB.jpg') no-repeat center;
  background-size: cover;
  height: 1700px;
}

.developer-page-container{
	padding: 50px;
}

.developer-page-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 50px;
}

.developer-page-title {
  font-size: 50px;
  margin-top: 30px;
  text-shadow: 1px 1px #2f2f2f;
  color: $Green-hex;
}

#about{
	padding: 20px;
}

#about p{
	color: $Tan-hex;
	margin: 10px;
	line-height: 1.2;
	text-shadow: 1px 1px #2f2f2f;
}

#developer-seperator{
  height: 400px;
  width: 0px;
  border: 1px solid $Green-hex;
}

#about{
	text-align: center;
}

#about h3{
  margin-top: 20px;
  font-size: 28px;
  text-shadow: 1px 1px #2f2f2f;
  color: $Green-hex;
}

#about h4{
  margin-top: 10px;
  font-size: 22px;
  text-shadow: 1px 1px #2f2f2f;
  color: $Green-hex;
}

.developer-headshot{
  height: 300px;
  width: 225px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  filter: drop-shadow;
  object-fit: cover;
}

.developer-headshot-chris{
  height: 300px;
  width: 225px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  filter: drop-shadow;
  object-fit: cover;
}

#dev-icons a{
	margin-left: 5px;
	margin-right: 5px;
}